body{
    background-image:url(images/2010.i123.005..car\ headlights\ AD\ composition.jpg);
    background-size: cover;
}



.container{
    width: fit-content;
    border: 1px solid black;
   
    background-repeat: no-repeat;
    list-style: none;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: large;
    line-height: 20px;
    width: auto;
    color:white;
text-align: center;

}
a{
    text-decoration: none;
    color:blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
button{
    padding: 10px;
    width: 150px;
    color: white;
    background-color: green;
    box-shadow: 20px 20px 15px,rgb(36, 34, 34);
    
}
label{
    color:white
}
input{
    color:white
}